<div class="card-body">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="flexbox gap-items-4 mb-20">
        <img class="avatar avatar-xl" src="../assets/img/avatar/2.jpg" alt="...">

        <div class="flex-grow">
          <h5>Update your logo</h5>
          <div class="d-flex flex-column flex-sm-row gap-items-2 gap-y mt-16">
            <div class="file-group file-group-inline">
              <button class="btn btn-sm btn-w-lg btn-outline btn-round btn-secondary file-browser" type="button">Change Picture</button>
              <input type="file">
            </div>

            <a class="btn btn-sm btn-w-lg btn-outline btn-round btn-danger" href="#">Delete Picture</a>
          </div>

        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-4 col-md-4">
      <label class="text-uppercase fw-500 fs-11">Property Name</label>
      <input class="form-control" type="text" placeholder="Enter name" [(ngModel)]="postData.name" >
    </div>
    <div class="form-group col-lg-4 col-md-4">
      <label class="text-uppercase fw-500 fs-11">Website URL</label>
      <input class="form-control" type="text" placeholder="Enter URL" [(ngModel)]="postData.website_url">
    </div>
    <div class="form-group col-lg-4 col-md-4">
      <label class="text-uppercase fw-500 fs-11">Property type</label>
      <div class="form-group">
        <label class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" name="radio1" (change)="postData.property_type = Restaurant" checked>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Restaurant</span>
        </label>
        <label class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" name="radio1"  (change)="postData.property_type = Cafe">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Cafe</span>
        </label>
        <label class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" name="radio1"  (change)="postData.property_type = 'Restaurant and Cafe'">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Both</span>
        </label>
      </div>
    </div>
    <div class="form-group col-lg-4 col-md-4">
      <label class="text-uppercase fw-500 fs-11">Corporate Email id</label>
      <input class="form-control" type="email" [(ngModel)]="postData.email" placeholder="Enter email">
    </div>
    <div class="form-group col-lg-4 col-md-4">
      <label class="text-uppercase fw-500 fs-11">Contact Number</label>
      <input class="form-control" type="number" [(ngModel)]="postData.contact_number" placeholder="Enter contact">
    </div>
    <div class="form-group col-lg-4 col-md-4">
      <label class="text-uppercase fw-500 fs-11">Address</label>
      <input class="form-control" type="text" [(ngModel)]="postData.address" placeholder="Enter address">
    </div>
    <div class="form-group col-lg-4 col-md-4">
      <label class="text-uppercase fw-500 fs-11">Total Employees</label>
      <input class="form-control" type="number" min="1" [(ngModel)]="postData.total_employees" placeholder="Enter count">
    </div>
    <div class="form-group col-lg-4 col-md-4">
      <label class="text-uppercase fw-500 fs-11">Total Section</label>
      <input class="form-control" type="number" min="1" [(ngModel)]="postData.total_sections" placeholder="Enter count">
    </div>              
  </div>
  
</div>

<div class="card-footer">
  <div class="text-right">
      <!-- <button class="btn btn-bold btn-outline btn-secondary" >Close</button> -->
      <button class="btn btn-bold btn-primary" (click)="goTo2()">Next</button>
  </div>
</div>