<main class="main-container ">

  <div class="main-content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <h4 class="card-title fw-400">Set up your property here</h4>

          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="flexbox gap-items-4 mb-20">
                  <img class="avatar avatar-xl" src="../assets/img/avatar/2.jpg" alt="...">

                  <div class="flex-grow">
                    <h5>Update your logo</h5>
                    <div class="d-flex flex-column flex-sm-row gap-items-2 gap-y mt-16">
                      <div class="file-group file-group-inline">
                        <button class="btn btn-sm btn-w-lg btn-outline btn-round btn-secondary file-browser" type="button">Change Picture</button>
                        <input type="file">
                      </div>

                      <a class="btn btn-sm btn-w-lg btn-outline btn-round btn-danger" href="#">Delete Picture</a>
                    </div>

                  </div>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Property Name</label>
                <input class="form-control" type="text" placeholder="Enter name" value="">
              </div>
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Website URL</label>
                <input class="form-control" type="text" placeholder="Enter URL" value="">
              </div>
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Property type</label>
                <div class="form-group">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="radio1" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Restaurent</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="radio2">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Cafe</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="radio3">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Both</span>
                  </label>
                </div>
              </div>
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Corporate Email id</label>
                <input class="form-control" type="email" value="" placeholder="Enter email">
              </div>
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Contact Number</label>
                <input class="form-control" type="number" value="" placeholder="Enter contact">
              </div>
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Address</label>
                <input class="form-control" type="text" value="" placeholder="Enter address">
              </div>
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Total Employees</label>
                <input class="form-control" type="number" min="1" value="" placeholder="Enter count">
              </div>
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Total Section</label>
                <input class="form-control" type="number" min="1" value="" placeholder="Enter count">
              </div>              
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <div class="bg-lighter col-lg-12 col-md-12 px-10 py-10">
                  <p>Please set username and password for your First Device :</p>
                  <div class="form-group">
                    <label class="text-uppercase fw-500 fs-11">Username</label>
                    <input class="form-control" type="text" value="" placeholder="Enter username">
                  </div>
                  <div class="form-group">
                    <label class="text-uppercase fw-500 fs-11">Password</label>
                    <input class="form-control" type="password" value="" placeholder="Enter password">
                  </div>
                </div>                
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="bg-lighter col-lg-12 col-md-12 px-10 py-10">
                  <p>Please set username and password for your Second Device :</p>
                  <div class="form-group">
                    <label class="text-uppercase fw-500 fs-11">Username</label>
                    <input class="form-control" type="text" value="" placeholder="Enter username">
                  </div>
                  <div class="form-group">
                    <label class="text-uppercase fw-500 fs-11">Password</label>
                    <input class="form-control" type="password" value="" placeholder="Enter password">
                  </div>
                </div>                
              </div>
            </div>
            <div class="divider">Section details</div>
            <div class="row">
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Section 1 Name</label>
                <input class="form-control" type="type" value="" placeholder="Enter name">
              </div>
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Available Tables</label>
                <input class="form-control" type="number" min="1" value="" placeholder="Enter table count">
              </div>
              <div class="form-group col-lg-4 col-md-4">
                <label class="text-uppercase fw-500 fs-11">Table Name Prefix</label>
                <input class="form-control" type="type" value="" placeholder="Enter prefix for table">
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="flexbox">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Send me a copy</span>
              </label>

              <button class="btn btn-bold btn-w-xl btn-primary">Save Details</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div><!--/.main-content -->

</main>