<main class="main-container ">
  <div class="main-content">
    <div class="card">
      <div class="card-header p-0">
        <div class="col-12">
            <ul class="nav nav-process nav-process-box">
                <!--Note: Please use "complete" class for done -->
                <li class="nav-item" [ngClass]="{'processing': currentStep == 1, 'complete': currentStep > 1 }">
                    <a class="nav-link" href="#">
                    <span class="nav-link-number" [ngClass]="{'dis-0': currentStep == 1, 'dis-inb': currentStep > 1 }"><i class="ti-check"></i></span>
                    <span class="nav-link-number" [ngClass]="{'dis-inb': currentStep == 1, 'dis-0': currentStep > 1 }">1</span>
                    <span class="nav-title">Restaurent Details</span>
                    </a>
                </li>
            
                <li class="nav-item" [ngClass]="{'processing': currentStep == 2, 'complete': currentStep > 2,'': currentStep < 2 }">
                    <a class="nav-link" href="#">
                    <span class="nav-link-number" [ngClass]="{'dis-0': currentStep <= 2, 'dis-inb': currentStep > 2 }"><i class="ti-check"></i></span> 
                    <span class="nav-link-number" [ngClass]="{'dis-inb': currentStep == 2, 'dis-0': currentStep > 2 }">2</span>
                    <span class="nav-title">Section Details</span>
                    </a>
                </li>
    
                <li class="nav-item" [ngClass]="{'processing': currentStep == 3}">
                    <a class="nav-link" href="#">
                    <span class="nav-link-number" [ngClass]="{'dis-inb': currentStep == 3, 'dis-0': currentStep > 2 }">3</span>
                    <span class="nav-title">User Credentials</span>
                    </a>
                </li>
            </ul>
        </div>
      </div>
      
      <app-res-details class="wd-100" *ngIf="currentStep == 1" (goToStep)='changeStep($event)'></app-res-details>
      <app-sec-details class="wd-100" *ngIf="currentStep == 2" (goToStep)='changeStep($event)'></app-sec-details>
      <app-user-cred class="wd-100" *ngIf="currentStep == 3" (goToStep)='changeStep($event)'></app-user-cred>
      
        
    </div>
  </div>
</main>
