<div class="card-body">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="bg-lighter col-lg-12 col-md-12 px-10 py-10">
        <p>Please set username and password for your First Device :</p>
        <div class="form-group">
          <label class="text-uppercase fw-500 fs-11">Username</label>
          <input class="form-control" type="text" value="" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label class="text-uppercase fw-500 fs-11">Password</label>
          <input class="form-control" type="password" value="" placeholder="Enter password">
        </div>
      </div>                
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="bg-lighter col-lg-12 col-md-12 px-10 py-10">
        <p>Please set username and password for your Second Device :</p>
        <div class="form-group">
          <label class="text-uppercase fw-500 fs-11">Username</label>
          <input class="form-control" type="text" value="" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label class="text-uppercase fw-500 fs-11">Password</label>
          <input class="form-control" type="password" value="" placeholder="Enter password">
        </div>
      </div>                
    </div>
  </div>
</div>

<div class="card-footer">
  <div class="flexbox">
      <button class="btn btn-bold btn-outline btn-secondary" (click)="goTo2()" >Back</button>
      <button class="btn btn-bold btn-primary">Do Setup</button>
  </div>
</div>