<aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
  <header class="sidebar-header">
    <!-- <a class="logo-icon" href="../index-2.html"><img src="../assets/img/logo_icon_light.png" alt="logo icon"></a> -->
    <span class="logo">
      <a href="#"><img src="../assets/img/logo_light.png" alt="logo"></a>
    </span>
  </header>

  <nav class="sidebar-navigation">
    <ul class="menu">
      <li class="menu-divider"></li>
      <li class="menu-item" [routerLinkActive]="['active']">
        <a class="menu-link"  routerLink="/restSetup">
          <span class="icon">
            <i class=" fa fa-home"></i>
          </span>
          <span class="title">Hotel Setup</span>
        </a>
      </li>
      <li class="menu-item" [routerLinkActive]="['active']">
        <a class="menu-link"  routerLink="/menuSetup">
          <span class="icon">
            <i class=" fas fa-coffee"></i>
          </span>
          <span class="title">Menu Setup</span>
        </a>
      </li>

    </ul>
  </nav>

</aside>